html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: sans-serif;
    margin: 0;
}
/*-----------------------------------------Paging CSS--------------------------------------------------*/
.page::-webkit-scrollbar {
    display: none;
}

.page {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100svh;
}

section {
    height: 100svh;
    scroll-snap-align: center;
}

/*-----------------------------------------Section1 CSS--------------------------------------------------*/
#section1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.196)5%, rgba(16, 16, 16, 0.913)40%, rgb(16, 16, 16)85%), url('../img/bg_top.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-1 {
    margin-top: 3%;
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-top-con {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-top-con p {
    padding-left: 6%;
    padding-right: 5%;
    color: white;
    text-align: justify;
    font-size: 1.2vw;
}

.left-top-con img {
    width: 90%;
    height: auto;
    object-fit: contain;
}

.right-top-con {
    width: 45%;
    height: 100%;
}

.right-top-con img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*-----------------------------------------Section2 CSS--------------------------------------------------*/
#section2 {
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-2 {
    margin-top: 2vh;
    width: 85vw;
    height: auto;
    max-width: 85%;
    max-height: 75vh;
    aspect-ratio: 16 / 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-2 p {
    width: 100%;
    color: white;
    text-align: start;
    font-size: 2.9vw;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.wrapper-feat {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/*------------------------------Feat Carousel-----------------------------*/
.left-carousel {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
}

.slides {
    display: none;
    width: 100%;
    height: 100%;
}

input[type="radio"]:checked+.slides {
    display: block;
}

.slide {
    position: relative;
    /* Add position relative */
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
}

.left-arrow,
.right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3vw;
    color: white;
    user-select: none;
    cursor: pointer;
    z-index: 1;
    /* Ensure arrows appear above the slides */
}

.left-arrow:hover~.slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    /* Adjust gradient width as needed */
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
}

.right-arrow:hover~.slide::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    /* Adjust gradient width as needed */
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

input[type="radio"] {
    display: none;
}

/*------------------------------Right Wrapper-----------------------------*/
.right-inner-wrapper {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.game-desc {
    height: 65vh;
    width: 100%;
    background-color: #3B3B3B;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    overflow: auto;
}

.game-title {
    color: white;
    font-size: 2vw;
    text-align: center;
}

.game-dev {
    color: white;
    font-size: 0.8vw;
}

.game-genre {
    background-color: #5D5D5D;
    color: white;
    font-weight: bold;
    font-size: 1vw;
    padding: 0.5em 1em;
    border-radius: 15px;
}

.game-price {
    color: #ffffff;
    font-weight: bold;
    font-size: 2vw;
}

.game-link {
    color: rgb(0, 0, 0);
    background-color: #DDDDDD;
    text-decoration: none;
    font-size: 1.5vw;
    border-radius: 10px;
    padding: 5px 8px 5px 8px;
    position: relative;
    transition: transform 0.3s;
}

.game-link:hover {
    background-color: #acacac;
    transform: scale(103%);
}

.Link {
    height: 20%;
    min-height: 20%;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #1E1E1E;
}

@media (max-width: 900px) {
    .right-inner-wrapper {
        gap: 10px;
    }

    .wrapper-feat {
        gap: 10px;
    }
}

/*-----------------------------------------Section3 CSS--------------------------------------------------*/
#section3 {
    background-color: rgb(0, 255, 157);

}

.game-content-section {
    width: 100%;
    height: 100svh;
    min-height: 100svh;
    background-color: #101010;
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 5%;
}

.section-container {
    width: 85%;
    height: 85%;
}

.DL-section {
    width: 100%;
    height: 50%;
}

.RG-section {
    width: 100%;
    height: 50%;
}

.Head-title {
    color: white;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    font-size: 2.2vw;
}

.container-content {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.game-option {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    transition: transform 0.3s;
}

.game-option:hover {
    transform: scale(102%);
}

.op-img-con {
    width: 90%;
    height: 75%;
    background-color: rgb(117, 117, 195);
    border-radius: 15px;
    overflow: hidden;
}

.op-img-con img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.op-title-con {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1w;
}

/*-----------------------------------------Section4 CSS--------------------------------------------------*/

#section4 {
    background-color: #101010;
    height: 100vh;
    width: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-4 {
    margin-top: 6vh;
    width: 85vw;
    height: 85vh;
    max-width: 85%;
    max-height: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16 / 9;
    padding: 0;
}

.top {
    width: 100%;
    height: 10%;
    display: flex;
}

.section-title {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

}

.section-title p {
    font-size: 35px;
    color: #ffffff;
}

.sort {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.sort-contents {
    display: flex;
    gap: 20px;
    align-items: center;
}

.actived {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.sort-contents a {
    text-decoration: none;
    color: white;
    background-color: #999999;
    padding: 6px 20px 6px 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-size: 0.9vw;
    font-weight: bolder;
}

.sort-contents a:hover {
    background-color: rgb(86, 86, 86);
}

.sort-contents p {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3vw;
}

.sort-contents form {
    margin-bottom: 2px;
}

.sort-contents form select {
    font-size: 15px;
    font-weight: bolder;
    border: none;
    background-color: #999999;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
}

.records {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

.game-container {
    width: 100%;
    height: 19%;
    background-color: #3B3B3B;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    position: relative;
    transition: transform 0.3s;
}

.game-container:hover {
    transform: scale(102%);
}

.game-img-con {
    height: auto;
    width: 15%;
}

.game-img-con::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15.09%;
    z-index: 2;
}

.game-img-con::after {
    left: 0;
    background: linear-gradient(to left, #3B3B3B, transparent);
}

.game-img-con img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-desc-con {
    width: 85%;
    height: 100%;
    color: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-desc {
    display: flex;
    align-items: center;
    height: 50%;
    width: 98%;
    padding-left: 2%;
}

.top-desc .game-title-desc {
    font-size: 22px;
    color: #ffffff;
    overflow: hidden;
}

.top-desc .game-price-desc {
    font-size: 20px;
    margin-left: auto;
    margin-right: 50px;
}

.bottom-desc {
    width: 98%;
    height: 55%;
    display: flex;
    padding-left: 2%;
}

.bottom-desc .game-developer-desc {
    font-size: 15px;
    margin: 0;
    margin-top: 3.5px;
    margin-bottom: auto;
}

.bottom-desc .game-genre-desc {
    background-color: #5D5D5D;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    margin: 0;
    margin-bottom: auto;
    margin-left: 25px;
}

.bottom-desc .game-link-desc {
    text-decoration: none;
    color: #000000;
    padding: 5px 25px 5px 25px;
    border-radius: 15px;
    background-color: #999999;
    margin-left: auto;
    margin-right: 40px;
    margin-bottom: auto;
}

.bottom-desc .game-link-desc:hover {
    background-color: #e0e0e0;
}

.rating {
    font-size: 19px;
    padding-bottom: 5px;
    padding-left: 25px;
}

.star {
    color: #ccc;
}

.star.filled {
    color: gold;
}

.pagination-links {
    height: 5%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pagination-links-buttons {
    text-decoration: none;
    color: white;
}

.pagination-links-buttons:active {
    color: #ffeb54;
}

.page-highlight {
    text-decoration: none;
    color: #ffeb54;
    font-weight: bolder;
}

/*-----------------------------------------Section5 CSS--------------------------------------------------*/
#section5 {
    background-color: #101010;
    max-height: 100%;
    position: relative;
}

.filler {
    height: 16vh;
    background-color: #101010;
    width: 100%;
}

.game-dev-sec {
    background-color: #101010;
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
}

.img-container {
    width: 80%;
    height: 100%;
    display: flex;
    position: relative;
    /* Make sure the container is positioned */
    overflow: hidden;
    /* Prevents the gradient from spilling outside the container */
}

.img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-container::before,
.img-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60%;
    /* Adjust the width of the gradient effect */
    z-index: 2;
    /* Ensure it's above the image */
}

.img-container::before {
    left: 0;
    background: linear-gradient(to right, rgb(16, 16, 16), transparent);
}

.img-container::after {
    right: 0;
    background: linear-gradient(to left, rgb(16, 16, 16), transparent);
}

.game-dev-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    gap: 2vw;
}

.dev-title {
    font-size: 2.5vw;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

.game-dev-content a {
    text-decoration: none;
    color: #101010;
    background-color: #d1d1d1;
    padding: 10px;
    font-size: 1vw;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.game-dev-content a:hover {
    background-color: #f3f3f3;
}

/*-----------------------------------------Anchor Points CSS--------------------------------------------------*/

.anchor {
    z-index: 100;
    padding: 12px 15px 12px 15px;
    border-radius: 1rem;
    background-color: #3B3B3B;
    right: 1%;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.anchor-link {
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    cursor: none;
    transition: background-color 0.3s, transform 0.3s ease;
}

.anchor-link:hover:not(.clicked) {
    cursor: pointer;
    transform: scale(1.1);
}

.anchor-link.clicked {
    cursor: pointer;
    background-color: #ffeb54;
    transform: scale(1.3);
}